@import "variables.scss";

#certificates-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#certificates {
    flex-basis: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: $secondary-color;
}

.certificate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-right: 20px;
    background-color: #000000;
    color: $secondary-color;
    width: 274px;
}

.certificate-data {
    display: flex;
    flex-direction: column;
    border: 1px solid #CCCCCC;
    padding: 7px;
    width: 260px;
}

.course-name::before {
    content: "Curso: "
}

.course-workload::before {
    content: "Carga horária: ";
}

.course-conclusion-date::before {
    content: "Concluído em: ";
}

.certificate-code::before {
    content: "Código do certificado: ";
}