@import "mixins/underline-effect.scss";
@import "variables.scss";

* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  background-color: $bg-color;
  color: $primary-color;
}

.underline-effect {
 @include underline-effect(); 
}

#content {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  padding-bottom: 50px;
}

footer {
  height: 50px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $secondary-color;
  width: 100%;
  height: 30px;
}

a {
  @include underline-effect();
  position: relative;
  color: $primary-color;
  text-decoration: none;
}

::selection {
  background-color: #28d69388;
}