@import "variables.scss";

#page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px; 
  background-color: #303136;
}

#author-name {
  position: absolute;
  font-size: 2em;
  font-weight: 520;
}

#presentation {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: $secondary-color;
  height: 500px;
}

#presentation-text {
  margin-left: 120px;
}

#presentation-title {
  margin-bottom: 20px;
  font-size: 4em;
  font-weight: 650;
  width: 543px;
}

#presentation-subtitle {
  font-size: 1em;
  font-weight: 400;
  color: #888888;
}

@media (max-width: 680px) {
  #presentation-text {
    margin-left: 50px;
  }
}

@media (max-width: 576px) {
  #presentation-text {
    margin-left: 10px;
  }

  #presentation-subtitle {
    width: 253px;
  }
}