@import "variables.scss";

#projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#projects {
    flex-basis: 100%;
    color: $secondary-color;
    text-align: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    background-color: #000000;
    color: $secondary-color;
    border: 1px solid #FFFFFF;
    padding: 20px;
    width: 25%;
}

.project-title {
    margin: 12px;
}

.project-description {
    text-align: justify;
}

.project-info {
    align-self: flex-start;
    font-size: 1.5em;
}

.project-info > ul {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 0.7em;
}

.project-info > ul > li {
    text-align: justify;
    margin-top: 5px;
}

.project-info > h4 {
    margin-top: 40px;
}

.project-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 25px;
    margin-top: 60px;
    width: 120px;
    height: 40px;
}

.project-link::after {
    visibility: hidden !important;
}

@media (max-width: 900px) {
    .project {
        width: 100%;
    }
}