#skills-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.skill {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 180px;
    border: 1px solid #858585;
    margin: 10px;
    font-size: 1.2em;
    font-weight: 520;
    text-align: center;
    box-shadow: 2px 2px 8px #474747;
}

.skill > span {
    margin: auto 0;
    margin-top: 2px;
}
