@mixin underline-effect() {
    position: absolute;
    &:hover {
        cursor: pointer;
    }

    &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 3px;
        bottom: 0;
        left: 50%;
        background-color: #28d693;
        transform: scaleX(1);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    &:hover::after {
        width: 100%;
        left: 0%;
    }
}
